@font-face{font-family:'Phag'; src:url('https://treasure-run-game.github.io/launcher-data/data/fonts/microsoft_fag.woff') format('woff');}
@font-face{font-family:'Brush'; src:url('https://treasure-run-game.github.io/launcher-data/data/fonts/tsx_logo_font.woff') format('woff');}
@font-face{font-family:'Typograph'; src:url('https://treasure-run-game.github.io/launcher-data/data/fonts/typograph_pro_extra_bold.woff') format('woff');}

button,li,a,span,i{
  -webkit-user-select:none;
}

html,body{
  padding:0px;margin:0px;
  overflow: hidden;
}
a:hover,button:hover,li:hover,.server:hover{
  opacity:0.76; cursor:pointer;
}
*{
  color:#fff;
  border:none;
  font-family:'Phag';
}
button,li{
  padding:0px;margin:0px;
}
button{
  background:none;
}
