body{
    background-color: black;
}

.splash{
    color: white;
    text-align: center;
    padding-top: 10px;
}

.fade{
    animation: fadeOut 3s;
}


/* keyframes */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
